.productCardWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.625rem;   
    animation: fadeUp 0.4s forwards;
}

:global {
    .onClick {
        & :local {
            animation: onClick forwards 0.4s;
        }
    }
}

@keyframes onClick {
    0% {
        scale: 1;
    }
    50%{
        scale: 0.8;
    }
    100% {
        scale: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translate(0, 2rem);
    }
    100% {
        transform: translate(0, 0rem);
        opacity: 1;
    }
}

@keyframes showCloseButton{
    0% {
        rotate: -90deg;
        opacity: 1;
    }
    100% {
        rotate: -0;
        opacity: 1;
    }
}

@keyframes showLeft {
    from {
        transform: translate(-2.5rem, 0);
    }
    to {
        transform: translate(0, 0);
    }
}

@keyframes showRight {
    from {
        transform: translate(2.5rem, 0);
    }
    to {
        transform: translate(0, 0);
    }
}

.imageWrapper{
    width: 100%;
    aspect-ratio: 1;
    position: relative;
    background: #F9F9F9;
    border-radius: 0.75rem;
    img{
        width: 100%;
        height: 100%;
    }
}

.infoButton, .closeButton{
    position: absolute;
    top: 0.625rem;
    left: 0.625rem;
    cursor: pointer;
    background-color: transparent;
    border: none;
    z-index: 3;
    svg{
        width: 2.5rem;
        height: 2.5rem;
    }
}

.infoButtonInactive{
    opacity: 0;
}

.closeButtonActive{
    animation: showCloseButton forwards 0.2s;
}

.contentWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    padding-top: 0.625rem;
    h3{
        color: #000;
        text-align: center;
        font-size: 1.125rem;
        font-weight: 500;
    }
    span{
        color: #487F1E;
        font-size: 1.125rem;
        font-weight: 500;
    }
}

.itemCounter{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(28, 25, 82, 0.95);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    opacity: 0;
    transition: 0.2s;
    button{
        width: 1.875rem;
        height: 1.875rem;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
}

.itemCounterVisible{
    animation: fadeIn forwards 0.2s 0.2s ;
    .itemAmount{
        animation: fadeUp forwards 0.2s 0.2s ;
    }
    .plusButton{
        animation: showRight forwards 0.2s 0.25s;
    }
    .minusButton{
        animation: showLeft forwards 0.2s 0.25s;
    }
    .cancelButton{
        animation: showLeft forwards 0.2s 0.25s;
    }
}

.itemAmount{
    color: #FFF;
    font-size: 3.125rem;
    font-weight: 500;
}

.minusButton{
    svg{
        width: 2.5rem;
        height: 2.5rem;
    }   
    path{
        fill: #fff
    }
}

.cancelButton{
    svg{
        width: 3.5rem;
        height: 3.5rem;
    }
}

.plusButton{
    svg{
        width: 2.5rem;
        height: 2.5rem;
    }
}

.withRightControl{
    background-color: transparent;
    border-radius: 40px;
    background: #FFF;
    width: fit-content;
    height: fit-content;
    flex-direction: column;
    gap: 0.625rem;
    padding: 0.325rem;
    right: 0;
    left: unset;
    top: 50%;
    translate: 50% -50%;
    filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.15));
    .imageWrapper{
        overflow: visible;
    }
    .itemAmount{
        color: #000;
        font-size: 1.875rem;
    }
    .plusButton, .minusButton{
        path{
            fill: #0047FF;
        }
    }
}

.productDescriptionWrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, #487F1E 0%, #487F1E 100%), lightgray 50% / cover no-repeat;
    padding-top: 5rem;
    padding-inline: 1.125rem;
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
    z-index: 1;
    animation: fadeIn forwards 0.2s;
}

.productDescriptionGroup{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    animation: fadeUp forwards 0.2s;
    h4{
        color: #FFF;
        font-size: 1.125rem;
        font-weight: 600;
    }
    p{
        color: #FFF;
        font-size: 0.875rem;
        font-weight: 400;
    }
}

.notInStockWrapper{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(117, 117, 117, 0.85);
    display: flex;  
    align-items: center;
    justify-content: center;
    p{
        color: #FFF;
        text-align: center;
        font-size: 1.125rem;
        font-weight: 500;
    }
}