@font-face {
    font-family: FiraGO;
    src: url("/fonts/firago/FiraGO-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: FiraGO;
    src: url("/fonts/firago/FiraGO-Medium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: FiraGO;
    src: url("/fonts/firago/FiraGO-SemiBold.ttf");
    font-weight: 600;
}