* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}   

body{
    font-family: Inter;
    font-weight: 500;
}

button{
    background-color: transparent;
    border: none;
}

a{
    text-decoration: none;
}