@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.headerWrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.25rem 0 2.5rem;
}

.goBackBtn {
    display: flex;
    align-items: center;
    gap: 1.25rem;
    color: #1C1952;
    font-size: 1.125rem;
    font-weight: 600;
    animation: fadeIn 0.5s forwards ;
    cursor: pointer;
}

.logo{
    display: flex;
    align-items: center;
    gap: 1.875rem;
    img{
        width: 5rem;
    } 
    h1{
        color: #000;
        font-size: 1.875rem;
        font-weight: 600;
    }
}

.languageNavigation{
    display: flex;
    gap: 2.5rem;
    a{
        display: flex;
        gap: 0.625rem;
        text-decoration: none;
        position: relative;
        opacity: 25%;
        cursor: pointer;
    }
    img{
        width: 2rem;
    }
}

.languageNavigationActiveLink{
    opacity: 100% !important;
}